<!-- templates/header.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>

                <!-- Voeg hier andere navigatielinks toe -->
            </ul>
           <form method="post" action="{% url 'set_language' %}">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}">
    <div class="language-selector">
        <button type="submit" name="language" value="en">
            <img src="{% static 'images/flags/en.png' %}" alt="English" width="30" height="20">
        </button>
        <button type="submit" name="language" value="nl">
            <img src="{% static 'images/flags/nl.png' %}" alt="Dutch" width="30" height="20">
        </button>
    </div>
</form>

        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
