{% extends "app_All/base.html" %}
{% load i18n %}

{% block title %}{% trans 'Education' %}{% endblock %}

{% block content %}
<div class="container py-5">
    <h1 class="text-center mb-5">{% trans 'Education' %}</h1>

    <!-- Education Card -->
    {% for education in educations %}
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">
            <div class="card mb-4">
                <div class="row g-0">
                    <div class="col-md-3 d-flex align-items-center justify-content-center p-3">
                        <img src="{{ education.logo.url }}" alt="{{ education.institution }}" class="img-fluid" style="max-height: 100px;">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">{{ education.title }} </h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ education.institution }}</h6>
                            <p class="card-text">
                               {{ education.description }}
                            <p class="card-text">
                                <small class="text-muted">{{ education.start_date }} -
                                    {% if education.is_current %}
                                        Present
                                    {% else %}
                                        {{ education.end_date }}
                                    {% endif %}</small>
                                 {% if education.propedeuse_date %}
                                 <p>Propedeuse Date: {{ education.propedeuse_date }}</p>
                            {% endif %}
                             {% if education.diploma_date %}
                                <p>Diploma Date: {{ education.diploma_date }}</p>
                            {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
